/* HOME start */

/* unvisited link */
a.Home:link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* visited link */
a.Home:visited {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* mouse over link */
a.Home:hover {
  color: grey;
  text-decoration: none;
  transition: 0.5s;
}

/* selected link */
a.Home:active {
  color: wheat;
  text-decoration: none;
  transition: 0.5s;
}
/* HOME end */

/* About start */
/* unvisited link */
a.About:link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* visited link */
a.About:visited {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* mouse over link */
a.About:hover {
  color: grey;
  text-decoration: none;
  transition: 0.5s;
}

/* selected link */
a.About:active {
  color: wheat;
  text-decoration: none;
  transition: 0.5s;
}
/* About end */

/* Portfolio start */
/* unvisited link */
a.Portfolio:link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* visited link */
a.Portfolio:visited {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* mouse over link */
a.Portfolio:hover {
  color: grey;
  text-decoration: none;
  transition: 0.5s;
}

/* selected link */
a.Portfolio:active {
  color: wheat;
  text-decoration: none;
  transition: 0.5s;
}
/* Portfolio end */

/* Stories start */
/* unvisited link */
a.Stories:link {
  color: #d5a02c;
  text-decoration: none;
  transition: 0.5s;
}

/* visited link */
a.Stories:visited {
  color: goldenrod;
  text-decoration: none;
  transition: 0.5s;
}

/* mouse over link */
a.Stories:hover {
  color: grey;
  text-decoration: none;
  transition: 0.5s;
}

/* selected link */
a.Stories:active {
  color: wheat;
  text-decoration: none;
  transition: 0.5s;
}
/* Stories end */

/* Contact start */
/* unvisited link */
a.Contact:link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* visited link */
a.Contact:visited {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

/* mouse over link */
a.Contact:hover {
  color: grey;
  text-decoration: none;
  transition: 0.5s;
}

/* selected link */
a.Contact:active {
  color: wheat;
  text-decoration: none;
  transition: 0.5s;
}
/* Contact end */

a.one:link {
  color: goldenrod;
  text-decoration: none;
}
a.one:visited {
  color: goldenrod;
  text-decoration: none;
}
a.one:hover {
  font-size: 150%;
  text-decoration: none;
}

a.two:link {
  color: white;
  text-decoration: none;
}
a.two:visited {
  color: white;
  text-decoration: none;
}
a.two:hover {
  font-size: 150%;
  text-decoration: none;
}

a.three:link {
  color: white;
  text-decoration: none;
}
a.three:visited {
  color: white;
  text-decoration: none;
}
a.three:hover {
  font-size: 150%;
  text-decoration: none;
}
