body{
margin: 0; 
padding: 0;
font-family: Myriad Pro; }

* {
box-sizing: border-box; 
line-height: normal; 
font-family: inherit;
margin: unset; }

a {
text-decoration: none;
display: block; }

Ul{
margin: 0;
margin-inline: unset !important;
padding: 0;
list-style: none; }

img {
max-width: 100%; 
height: auto; }

[type="text"],
input:where(:not([type])),
[type="email"], 
[type="url"],
[type="password"], 
[type="number"], 
[type="date"],
[type="datetime-local"],
[type="tel"],
[type="time"], 
[type="week"], 
[multiple],
textarea, 
select, 
button ,
select,

button {
appearance: none;
background-color: transparent;
border-color: unset; 
border-width: 0;
border-radius: unset;
padding: unset; 
font-size: unset;
line-height: unset;}

input: focus-visible, 
[multiple]: focus-visible, 
textarea: focus-visible,
select: focus-visible,
{ outline: none; }
 
/* CSS Variables */

: root {
/* Color variables */
--white_A700: #ffffff;
--gray_600: 口#6c6c6c;
--gray_800: #4c4c4c;
--gray_900: #111111;
--gray_900_01:#161616;
--gray_800_01:#3d3d3d;
--yellow_800:#d5a02c;
}
/* Common CSS */
.header__menu-item-1 {
text-transform: capitalize; }

/* Page CSS */
.kezta-one {
  height: 1080px;
  background-color: var(--white_A700);
  width: 100%;
  position: relative;
  @media only screen and (max-width: 1050px)
  {height: auto;} }


 .rowone {
  background-color: var(--gray_900);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 20px 49px 20px;
  @media only screen and (max-width: 1050px) 
  {padding-bottom: 20px;} }

  .column {
   width: 100%;
   display: flex;
   flex-direction: column; 
   max-width: 1719px; 
   margin-left: auto; 
   margin-right: auto; }

  .column__row { 
   display: flex; 
   justify-content: space-between;
   align-items: start;
   gap: 20px;
   @media only screen and (max-width: 1050px)
   {flex-direction: column;
   }
  }

  .column__row--social { 
   margin-bottom: 39px;
   width: 90%;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   @media only screen and (max-width: 1050px)
   {flex-direction: column;
    width: 100%;
   }
  }

  .social-network {
    gap: 25px;
    display: flex;
    flex-direction: column; 
    align-items: start;}

  .social-network__icon--trash {
    height: 12px;
    align-self: center;
    width: 100%;}

  .social-network__icon--thumbs-up {
    height: 10px;
    align-self: center;
    width: 100%;
  }

  .social-network__text {
   color: var(--yellow_800) !important; 
   align-self: end;}

  .social-network__icon--link { 
    height: 14px;
    align-self: center;
    width: 100%;}

  .social-network_icon--globe {
    height: 15px;
    align-self: center;
    width: 100%;}

  .column_row--header {
   padding-top: 33px; 
   padding-bottom: 887px; 
   padding-right: 33px;
   background-color: var(--gray_600);
   width: 95%;
   display: flex;
   justify-content: center;
   @media only screen and (max-width: 1050px) {
   width: 100%;
   padding-bottom: 20px;}

   @media only screen and (max-width: 550px) {
   padding-top: 20px;
   padding-right: 20px;
   }
  }

  .header {
   display: flex; 
   width: 100%; 
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   @media only screen and (max-width: 550px) {
   flex-direction: column;
  } 
  }

  .header_logo {
  height: 34px; 
  width: 90px;
  object-fit: contain;}

  .header__menu {
  gap: 40px;
  display: flex; 
  flex-wrap: wrap; }

.header__menu-item {
color: var(--yellow_800) !important; 
text-transform: capitalize; }

.column__copyright {
color: var(--gray_800_01) !important; 
text-transform: capitalize; 
transform: rotate(90deg);}

• column
_row--scroll {
margin-top: -2px; margin-left: 85px; gap: 13px;
position: relative;
display: flex;
width: 9%;
align-items: center;
@media only screen and (max-width: 1050px) {
width: 100%; 
margin-left: 0px;
}
}

.scroll__number--start {
color: var(--yellow_800) !important;}

.scroll_line {
  height: 1px; 
  margin-bottom: 8px; 
  align-self: end;
  background-color: var(--gray_800);
  width: 64%;}

.scroll_number--end {
  height: 19px; 
  width: 19px;}

.section {
width: 34%;
display: flex; 
justify-content: flex-end;
align-items: center; 
position: absolute;
bottom: 6%; 
right: 0px; 
margin: auto;
@media only screen and (max-width: 550px) {
flex-direction: column;
position: relative;
}
}

.section__card {
 margin-bottom: 128px; 
 z-index: 1; 
 align-self: end; 
 background-color:
 var(—-yellow_800);
 flex: 1;
 position: relative;
 display: flex;
 flex-direction: column; 
 align-items: start;
 padding: 33px 45px 68px 45px;
  @media only screen and (max-width: 1050px) {
   padding-bottom: 20px; 
   padding-left: 20px; 
   padding-right: 20px;
  ｝


  @media only screen and (max-width: 550px) {
   align-self: stretch;
   padding: 20px;
  }
}
 

.section_content {
  margin-left: 6px;
  width: 76%;
  display: flex;
  flex-direction: column; 
  align-items: start;
  @media only screen and (max-width: 1050px) {
    width: 100%; 
    margin-left: 0px;}
  }

.section_content-divider { 
    height: 2px; 
    margin-top: 9px;
    background-color: var(--white_A700) ;
    width: 45%;}

.section_content-category {
  margin-top: 6px;
   ｝

.section__title { 
  color: var(--gray_900_01) !important; 
  margin-left: -64px;
  text-transform: lowercase; 
  transform: rotate(90deg) ;
position: relative;
@media only screen and (max-width: 550px) {
  padding: 20px; 
  margin-left: 0px;｝
}

 /* Component CSS */

.ui.text.size-xs {
  font-size: 16px; 
  font-weight: 400;

.ui.text.size-lg {
  font-size: 28px; 
  font-weight: 400;
  @media only screen and (max-width: 1050px) {
    font-size: 26px;}
  @media only screen and (max-width: 550px) {
    font-size: 24px;}

.ui.text.size-s {
  font-size: 18px; 
  font-weight: 400;}

.ui.text. size-xl {
  font-size: 72px; 
  font-weight: 400;
  @media only screen and (max-width: 1050px) {
    font-size: 48px;} }

.ui.text.size-md {
  font-size: 24px; 
  font-weight: 400;
  @media only screen and (max-width: 1050px) {
    font-size: 22px;} }

.ui.text {
  color: var(--white_A700); 
  font-family: Roboto;
｝

 /* Heading CSS- */

.ui.heading.size-s {
font-size: 300px; 
font-weight: 700;
@media only screen and (max-width: 1050px) {
font-size: 48px;} }

.ui.heading.size-xs {
font-size: 18px; 
font-weight: 600;}

.ui.heading {
color: var(--white_A700); 
font-family: Myriad Pro;
}

  /* Fonts CSS */

@font-face {
font-display: swap; 
font-style: normal;
src: url("../public/fonts/RobotoRegular.ttf");
font-family: "Roboto"; font-weight: 400;}